@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
    outline: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type="search"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
    display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
    font-size: 100%;
  /* 1 */
    -webkit-text-size-adjust: 100%;
  /* 2 */
    -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
    outline: 0;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
    outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
    border: 0;
  /* 1 */
    -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
    margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
    margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
    border: 0;
  /* 1 */
    padding: 0;
    white-space: normal;
  /* 2 */
    *margin-left: -7px;
  /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
    font-size: 100%;
  /* 1 */
    margin: 0;
  /* 2 */
    vertical-align: baseline;
  /* 3 */
    *vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
  /* 2 */
    cursor: pointer;
  /* 3 */
    *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
  /* 1 */
    padding: 0;
  /* 2 */
    *height: 13px;
  /* 3 */
    *width: 13px;
  /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
    -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
    overflow: auto;
  /* 1 */
    vertical-align: top;
  /* 2 */
}

/**
 * Remove most spacing between table cells.
 */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

html {
    box-sizing: border-box;
    overflow-x: hidden;
    font-size: 10px;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    min-height: 100vh;
    position: relative;
}

.container {
    max-width: 1210px;
    min-width: 320px;
    margin: 0 auto;
}

.full-width {
    position: relative;
}

.full-width::after {
    content: "";
    display: block;
    height: 100%;
    width: 100vw;
    background-color: inherit;
    position: absolute;
    top: 0;
    z-index: -1;
    margin: auto;
    left: -50vw;
    right: -50vw;
}

svg {
    fill: currentColor;
    width: 100%;
    height: 100%;
}

img {
    width: 100%;
    height: auto;
}

source {
    width: 100%;
    height: auto;
}

a {
    display: block;
    text-decoration: none;
    color: inherit;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-select: none;
}

button {
    font-family: inherit;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-select: none;
}

label {
    display: block;
    font-size: 0px;
}

label input,
  label textarea {
    width: 100%;
    display: block;
    font-family: inherit;
}

@font-face {
    font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local(""), url("../fonts/montserrat-v15-latin-300.woff2") format("woff2"), url("../fonts/montserrat-v15-latin-300.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-italic - latin */
@font-face {
    font-family: "Montserrat";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local(""), url("../fonts/montserrat-v15-latin-italic.woff2") format("woff2"), url("../fonts/montserrat-v15-latin-italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-regular - latin */
@font-face {
    font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(""), url("../fonts/montserrat-v15-latin-regular.woff2") format("woff2"), url("../fonts/montserrat-v15-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-700 - latin */
@font-face {
    font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(""), url("../fonts/montserrat-v15-latin-700.woff2") format("woff2"), url("../fonts/montserrat-v15-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* MontserratExtraLightItalic */
@font-face {
    font-family: "MontserratExtraLightItalic";
  font-display: swap;
  src: local(""), url("../fonts/MontserratExtraLightItalic.woff2") format("woff2"), url("../fonts/MontserratExtraLightItalic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

/* Слайдер */
.slick-slider {
    min-width: 0px;
}

/* Ограничивающая оболочка */
.slick-list {
    height: 100%;
    overflow: hidden;
    position: relative;
}

/* Лента слайдов */
.slick-track {
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

/* Слайд */
.slick-slide {
    height: 100%;
}

.slick-slide > div {
    height: 100%;
}

/* Слайд активный */
/* Слайд основной */
/* Слайд по центру */
/* Стрелка */
/* Стрелка влево */
/* Стрелка вправо */
/* Стрелка не активная */
/* Точки */
/* Конкретный слайдер */
.slider .slick-dots {
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    left: 50%;
    bottom: 3rem;
    -webkit-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%);
}

@media (max-width: 750px) {
    .slider .slick-dots {
        bottom: 7em;
    }
}

.slider .slick-dots li {
    margin: 0.7em;
}

.slider .slick-dots button {
    padding: 0px 0px 0px 0px;
    width: 1rem;
    height: 1rem;
    background: transparent;
    border: 0.1rem solid #717072;
    border-radius: 50%;
    color: transparent;
    font-size: 0;
    transition: all 0.3s;
}

.slider .slick-dots li.slick-active button {
    background: #2b2a2c;
}

.slider .slider__item {
    min-width: 0px;
}

.burger {
    display: none;
    width: 30px;
    height: 20px;
    position: relative;
}

.burger::before, .burger::after {
    content: "";
    height: 2px;
    width: 100%;
    position: absolute;
    left: 0;
    background-color: #2b2a2c;
    transition: all;
    transition-duration: 0.3s;
}

.burger::before {
    top: 0;
}

.burger::after {
    bottom: 0;
}

.burger span {
    width: 100%;
    position: absolute;
    top: 9px;
    background-color: #2b2a2c;
    height: 2px;
    transition: all;
    transition-duration: 0.3s;
    opacity: 1;
}

.burger span:hover {
    width: 100%;
}

.menuOpen .burger::before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 9px;
}

.menuOpen .burger::after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    bottom: 9px;
}

.menuOpen .burger span {
    -webkit-transform: perspective(400px) rotateY(90deg);
    transform: perspective(400px) rotateY(90deg);
    -webkit-transform-origin: 0;
    transform-origin: 0;
    opacity: 0;
}

.hystmodal__opened {
    position: fixed;
    right: 0;
    left: 0;
    overflow: hidden;
}

.hystmodal__shadow {
    position: fixed;
    border: none;
    display: block;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    pointer-events: none;
    z-index: 98;
    opacity: 0;
    transition: opacity 0.15s ease;
    background-color: black;
}

.hystmodal__shadow--show {
    pointer-events: auto;
    opacity: 0.6;
}

.hystmodal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    opacity: 1;
    pointer-events: none;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
    z-index: 99;
    visibility: hidden;
}

.hystmodal--active {
    opacity: 1;
}

.hystmodal--moved,
.hystmodal--active {
    pointer-events: auto;
    visibility: visible;
}

.hystmodal__wrap {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    width: 100%;
    min-height: 100%;
    margin: auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}

@supports (padding: 0px) {
    .hystmodal__wrap {
        padding-right: max(20px, env(safe-area-inset-right));
        padding-left: max(20px, env(safe-area-inset-left));
    }
}

.hystmodal__window {
    margin: 50px 0;
    box-sizing: border-box;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    background: #fff;
    width: 100%;
    max-width: 1170px;
    overflow: visible;
    transition: opacity 0.2s ease 0s, -webkit-transform 0.2s ease 0s;
    transition: transform 0.2s ease 0s, opacity 0.2s ease 0s;
    transition: transform 0.2s ease 0s, opacity 0.2s ease 0s, -webkit-transform 0.2s ease 0s;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0;
}

.hystmodal__window--contact {
    max-width: 900px;
}

@media (max-width: 650px) {
    .hystmodal__window--contact {
        max-width: 510px;
    }
}

@media (max-width: 600px) {
    .hystmodal__window--resume {
        max-width: 460px;
    }
}

.hystmodal--active .hystmodal__window {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

html.scrollFixed, html.hystmodal__opened {
    position: fixed;
    right: 0;
    left: 0;
    overflow: hidden;
}

.menuOpen body {
    position: relative;
}

.menuOpen body::after {
    content: "";
    display: block;
    width: 100vw;
    height: 100%;
    background-color: rgba(43, 42, 44, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.padding {
    padding-top: 5em;
    padding-bottom: 4em;
}

@supports (padding: 0px) {
    .padding {
        padding-right: max(20px, env(safe-area-inset-right));
        padding-left: max(20px, env(safe-area-inset-left));
    }
}

@supports (padding: 0px) {
    .padding_wide {
        padding-right: max(0px, env(safe-area-inset-right));
        padding-left: max(0px, env(safe-area-inset-left));
    }
}

.padding_right-left {
    padding: 0px 0px 0px 0px;
}

@supports (padding: 0px) {
    .padding_right-left {
        padding-right: max(20px, env(safe-area-inset-right));
        padding-left: max(20px, env(safe-area-inset-left));
    }
}

.padding_top-bottom {
    padding: 0px 0px 0px 0px;
    padding-top: 5em;
    padding-bottom: 4em;
}

.padding_bottom {
    padding: 0px 0px 0px 0px;
    padding-bottom: 4em;
}

.padding_top {
    padding: 0px 0px 0px 0px;
    padding-top: 5em;
}

.header {
    background-color: #ffffff;
}

@media (max-width: 768px) {
    .header {
        margin: 0px 0px 2em 0px;
        box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 10;
    }

    .menuOpen .header {
        box-shadow: none;
    }

    .scrollFixed .header {
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        z-index: 10;
    }
}

@media (max-width: 700px) {
    .header {
        margin: 0px 0px 0px 0px;
    }
}

.header__inner {
    padding: 1.6em 0px 1.6em 0px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
}

@media (max-width: 768px) {
    .header__inner {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}

@media (max-width: 700px) {
    .header__inner {
        padding: 1em 0px 1em 0px;
    }
}

.header__logo {
    -ms-flex-item-align: start;
    align-self: flex-start;
}

@media (max-width: 768px) {
    .header__burger {
        display: -ms-flexbox;
        display: flex;
    }
}

.logo {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    font-size: 1rem;
    width: 19.5em;
    height: 5.5em;
}

@media (max-width: 700px) {
    .logo {
        font-size: 0.9rem;
    }
}

.nav {
    margin: -1em;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: end;
    justify-content: flex-end;
    background-color: #ffffff;
    color: #2b2a2c;
}

.nav__link {
    margin: 1em;
    font-size: 1.4em;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
}

@media (max-width: 768px) {
    .nav__link {
        margin: 1.2em 0px 1.2em 0px;
    }
}

.nav__link::after {
    content: "";
    width: 0px;
    height: 3px;
    display: block;
    background-color: #2b2a2c;
    position: absolute;
    bottom: -3px;
    left: 0;
    transition: width;
    transition-duration: 0.2s;
}

.nav__link:hover::after {
    width: 100%;
}

@media (max-width: 768px) {
    .nav {
        display: none;
        -ms-flex-flow: column;
        flex-flow: column;
    }

    .menuOpen .nav {
        display: -ms-flexbox;
        display: flex;
        overflow-y: auto;
        scrollbar-width: thin;
    }
}

.btn {
    padding: 0px 0px 0px 0px;
    max-width: 100%;
    background-color: transparent;
    border: 2px solid;
    border-radius: 10em;
    font-weight: 700;
    text-transform: uppercase;
    transition: color, background, border !important;
    transition-duration: 0.3s !important;
}

.btn span {
    display: block;
    overflow: hidden;
}

.btn--fz12.btn--w150 {
    min-width: 12.5em;
}

.btn--fz12.btn--p16x12 span {
    padding: 0em 1.33em;
    height: 3em;
    line-height: 3;
}

.btn--fz14.btn--w130 {
    min-width: 9.29em;
}

.btn--fz14.btn--p20x12 span {
    padding: 0em 1.43em;
    height: 2.75em;
    line-height: 2.75;
}

.btn--fz14.btn--p30x10 span {
    padding: 0em 2.14em;
    height: 2.45em;
    line-height: 2.45;
}

.btn--fz16.btn--w200 {
    min-width: 12.5em;
}

.btn--fz16.btn--p30x17 span {
    padding: 0em 1.875em;
    height: 3em;
    line-height: 3;
}

.btn--fz16.btn--p47x16 span {
    padding: 0em 3em;
    height: 3em;
    line-height: 3;
}

.btn--br1 {
    border-width: 1px;
}

.btn--fw400 {
    font-weight: 400;
}

.btn--fw300 {
    font-weight: 300;
}

.btn::after {
    display: none;
}

.btn--black {
    background-color: #2b2a2c;
    border-color: #2b2a2c;
    color: #ffffff;
}

.btn--white {
    border-color: #8d8d8e;
    color: #8d8d8e;
}

.btn.hover, .btn:active {
    background-color: #2b2a2c !important;
    border-color: #2b2a2c !important;
    color: #ffffff !important;
    box-shadow: 0.3em 0.2em 0.8em rgba(0, 0, 0, 0.25);
}

.btn.hover.btn--black, .btn:active.btn--black {
    background-color: #ffffff !important;
    border-color: #2b2a2c !important;
    color: #2b2a2c !important;
}

.btn.hover.btn--white, .btn:active.btn--white {
    border-color: #dadada !important;
}

.intro {
    font-size: 10px;
}

@media (max-width: 850px) {
    .intro {
        font-size: 9px;
    }
}

.intro__inner {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    background-image: url(../images/intro/bg.svg);
    background-position: right bottom;
    background-size: contain;
    background-repeat: no-repeat;
}

@media (max-width: 700px) {
    .intro__inner {
        background-image: none;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

.intro__left {
    max-width: 49em;
}

@media (max-width: 700px) {
    .intro__left {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-flow: column;
        flex-flow: column;
        -ms-flex-align: center;
        align-items: center;
    }
}

.intro__right {
    max-width: 37em;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    -ms-flex-align: end;
    align-items: flex-end;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

@media (max-width: 800px) {
    .intro__right {
        max-width: 30em;
    }
}

@media (max-width: 700px) {
    .intro__right {
        display: none;
    }
}

.intro__title {
    margin: 0px 0px 0.417em 0px;
    color: #2b2a2c;
    font-size: 4.8em;
    font-weight: 700;
}

@media (max-width: 700px) {
    .intro__title {
        text-align: center;
    }
}

.intro__sub-title {
    margin: 0px 0px 0.25em 0px;
    display: block;
    font-size: 0.66em;
    font-weight: 300;
    line-height: 1.2;
}

@media (max-width: 700px) {
    .intro__sub-title {
        text-align: center;
    }
}

.intro__prof {
    margin: 0px 0px 1.5em 0px;
    color: rgba(43, 42, 44, 0.7);
    font-size: 1.8em;
    line-height: 1.2;
    font-weight: normal;
}

@media (max-width: 700px) {
    .intro__prof {
        text-align: center;
    }
}

.intro__buttons {
    margin: -5px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

@media (max-width: 700px) {
    .intro__buttons {
        -ms-flex-pack: center;
        justify-content: center;
    }
}

.intro__btn {
    margin: 5px;
    font-size: 16px;
}

@media (max-width: 768px) {
    .intro__btn {
        font-size: 14px;
    }
}

@media (max-width: 700px) {
    .intro__btn {
        font-size: 16px;
    }
}

.social {
    margin: -0.7em -0.7em 3em -0.7em;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

@media (max-width: 700px) {
    .social {
        -ms-flex-pack: center;
        justify-content: center;
    }
}

.social--mb0 {
    margin-bottom: -1em;
}

.social__item {
    margin: 0.7em;
}

.social__link.hover .social__icon, .social__link:active .social__icon {
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
}

.social__link_footer.hover .social__icon, .social__link_footer:active .social__icon {
    -webkit-transform: none;
    transform: none;
    color: white;
}

.social__icon {
    width: 4em;
    height: 4em;
    transition: color 0.1s, -webkit-transform 0.1s;
    transition: transform 0.1s, color 0.1s;
    transition: transform 0.1s, color 0.1s, -webkit-transform 0.1s;
}

.social__icon--20x20 {
    width: 2rem;
    height: 2rem;
}

@media (max-width: 500px) {
    .works__inner {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-flow: column;
        flex-flow: column;
        -ms-flex-align: center;
        align-items: center;
    }
}

.works__menu {
    margin: -15px -15px 2.1em -15px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.works__menu-item {
    max-width: 100%;
    overflow: hidden;
}

.works__menu-link {
    padding: 15px;
    color: #2b2a2c;
    font-size: 1.2em;
    line-height: 1.2;
    transition: -webkit-filter 0.2s;
    transition: filter 0.2s;
    transition: filter 0.2s, -webkit-filter 0.2s;
}

.works__menu-link.hover, .works__menu-link:active {
    -webkit-filter: drop-shadow(0px 0px 1px black);
    filter: drop-shadow(0px 0px 1px black);
}

.works__list {
    margin: 0px -1em 3.2em -1em;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

@media (max-width: 480px) {
    .works__list {
        max-width: 80%;
    }
}

@media (max-width: 400px) {
    .works__list {
        max-width: 100%;
    }
}

.works__item {
    padding: 1em;
    display: none;
    -ms-flex: 0 1 33.33333%;
    flex: 0 1 33.33333%;
}

.works__item.show {
    display: block;
}

@media (max-width: 768px) {
    .works__item {
        -ms-flex: 0 1 50%;
        flex: 0 1 50%;
    }
}

@media (max-width: 480px) {
    .works__item {
        -ms-flex: 0 1 100%;
        flex: 0 1 100%;
    }
}

.works__load-more {
    margin: 0 auto;
    font-size: 14px;
}

.work {
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column;
    flex-flow: column;
    border-radius: 1em;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.25);
    overflow: hidden;
    color: #2b2a2c;
    transition: box-shadow 0.3s;
}

.work.hover, .work:active {
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
}

.work__img-link {
    margin: 0px 0px 1.8em 0px;
    max-width: 100%;
    position: relative;
}

.work__img-link::after {
    content: "";
    padding: 0px 0px 83.33333% 0px;
    width: 100%;
    display: block;
}

@media (max-width: 768px) {
    .work__img-link {
        margin: 0px 0px 1em 0px;
    }
}

.work__img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.work__img source,
    .work__img img {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.work__info {
    padding: 1.6em;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column;
    flex-flow: column;
}

.work__cat {
    margin: 0px 0px 1.25em 0px;
    height: 1em;
    font-size: 1.2em;
    line-height: 1;
    text-transform: uppercase;
    overflow: hidden;
}

.work__info-bottom {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column;
    flex-flow: column;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-positive: 1;
    flex-grow: 1;
    overflow: hidden;
}

.work__title-link {
    margin: 0px 0px 10px 0px;
}

.work__title {
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-height: 1em;
    font-size: 1.6em;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    overflow: hidden;
}

.work__data {
    max-height: 1em;
    display: block;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    font-size: 1.6em;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    overflow: hidden;
}

.about__content {
    display: -ms-flexbox;
    display: flex;
}

.about__left {
    margin: 0px 2em 0px 0px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    position: relative;
}

@media (max-width: 850px) {
    .about__left {
        margin: 0px 0px 0px 0px;
    }
}

.about__avatar {
    max-width: 58em;
    display: block;
}

@media (max-width: 850px) {
    .about__avatar {
        margin: 0px auto 2em auto;
        height: 36em;
        max-height: 70vw;
        overflow: hidden;
    }
}

.about__right {
    color: #2b2a2c;
}

@media (max-width: 850px) {
    .about__right {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-flow: column;
        flex-flow: column;
        -ms-flex-align: center;
        align-items: center;
    }
}

.about__title {
    margin: 0px 0px 0em 0px;
    font-size: 4em;
    font-weight: 700;
    text-transform: uppercase;
}

@media (max-width: 1200px) {
    .about__title {
        font-size: 3.5em;
    }
}

@media (max-width: 850px) {
    .about__title {
        text-align: center;
    }
}

@media (max-width: 450px) {
    .about__title {
        font-size: 2.5em;
    }
}

.about__sub-title {
    margin: 0.15em 0px 0px 0px;
    display: block;
    font-size: 2.05em;
    opacity: 0.15;
}

.about__text {
    margin: 0px 0px 0.8em 0px;
    color: #717072;
    font-size: 1.2em;
    font-weight: 300;
    line-height: 2;
    text-align: justify;
}

.about__text:last-of-type {
    margin: 0px 0px 0px 0px;
}

.about__buttons {
    margin: 1.5em -8px -8px -8px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.about__btn {
    margin: 8px;
    font-size: 16px;
}

.opinions__top {
    background-color: #332f30;
    background-image: url(../images/opinions/bg.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.opinions__container {
    min-height: 23em;
    display: -ms-flexbox;
    display: flex;
}

.opinions__inner {
    margin: auto;
    padding: 5em 0px;
}

.opinions__text {
    max-width: 60em;
    color: #ffffff;
    font-family: "MontserratExtraLightItalic", sans-serif;
    font-size: 1.4em;
    line-height: 2.2;
    text-align: center;
}

.opinions__author {
    margin: -4.5em auto 0px auto;
}

.author {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column;
    flex-flow: column;
    -ms-flex-align: center;
    align-items: center;
}

.author__avatar-container {
    width: 9.5em;
    position: relative;
}

.author__avatar-container::before {
    content: "";
    padding: 0px 0px 100% 0px;
    width: 100%;
    display: block;
}

.author__avatar-container::after {
    content: "";
    width: 102%;
    height: 102%;
    display: block;
    border: 0.4em solid #efefef;
    border-radius: 40%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.author__avatar-wrap {
    width: 98%;
    height: 98%;
    border-radius: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.author__name {
    color: #2b2a2c;
    font-size: 1.6em;
    font-weight: 700;
    line-height: 2;
    text-align: center;
}

.author__comp {
    margin: 0px 0px 0.5em 0px;
    color: #717072;
    font-size: 1.4em;
    font-style: italic;
    line-height: 2.2;
    text-align: center;
}

.author__rating {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
}

.author__rating::after {
    content: "";
    width: 8.536%;
    height: 100%;
    background-color: white;
    position: absolute;
    opacity: 0.8;
    top: 0;
    right: 0;
    z-index: 10;
}

.author__star {
    margin: 0px 0.15rem;
    width: 1.4em;
    height: 1.4em;
}

.author__star:first-child {
    margin-left: 0px;
}

.author__star:last-child {
    margin-right: 0px;
}

.read-me {
    color: #2b2a2c;
}

.read-me__inner {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column;
    flex-flow: column;
}

.read-me__header {
    margin: 0px 0px 4.5em 0px;
}

.read-me__title {
    margin: 0px 0px 0.5em 0px;
    font-size: 4.5em;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.read-me__sub-title {
    font-size: 1.2em;
    line-height: 1.3;
    text-align: center;
    text-transform: uppercase;
}

.read-me__articles-list {
    margin: -1em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: repeat(3, auto);
    grid-row-gap: 2em;
}

@media (max-width: 700px) {
    .read-me__articles-list {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: repeat(2, auto);
    }
}

@media (max-width: 500px) {
    .read-me__articles-list {
        -ms-flex-pack: center;
        justify-content: center;
        grid-template-columns: 80%;
    }
}

@media (max-width: 400px) {
    .read-me__articles-list {
        -ms-flex-pack: center;
        justify-content: center;
        grid-template-columns: 100%;
    }
}

.read-me__articles-item {
    padding: 1em;
    display: none;
}

.read-me__articles-item.show {
    display: block;
}

.read-me__show-more {
    margin: 2em 0px 0px 0px;
    -ms-flex-item-align: end;
    align-self: flex-end;
    color: #717072;
    font-size: 1.4em;
    text-align: right;
    text-decoration: underline;
}

.read-me__show-more.hover, .read-me__show-more:active {
    text-decoration: none;
}

.article {
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column;
    flex-flow: column;
}

.article__header {
    margin: 0px 0px 2.5em 0px;
    position: relative;
}

.article__header::after {
    content: "";
    padding: 0px 0px 70.27% 0px;
    width: 100%;
    display: block;
}

.article__img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.article__img source,
    .article__img img {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.article__data {
    padding: 0.5em;
    width: 4.8em;
    height: 4.8em;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column;
    flex-flow: column;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #2b2a2c;
    color: #ffffff;
    font-size: 1.6em;
    font-weight: 700;
    line-height: 1.3;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

@media (max-width: 850px) {
    .article__data {
        font-size: 1.2em;
    }
}

@media (max-width: 700px) {
    .article__data {
        font-size: 1.6em;
    }
}

@media (max-width: 600px) {
    .article__data {
        font-size: 1.2em;
    }
}

@media (max-width: 500px) {
    .article__data {
        font-size: 1.6em;
    }
}

@media (max-width: 360px) {
    .article__data {
        font-size: 1.2em;
    }
}

.article__data-day, .article__data-month {
    height: 1.3em;
    display: block;
    overflow: hidden;
}

.article__title {
    margin: 0px 0px 0.83em 0px;
    height: 1.2em;
    font-size: 1.8em;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    overflow: hidden;
}

.article__cat {
    margin: 0px 0px 2.5em 0px;
    height: 1.3em;
    font-size: 1.2em;
    line-height: 1.3;
    text-transform: uppercase;
    overflow: hidden;
}

.article__description {
    margin: 0px 0px 1em 0px;
    color: #717072;
    font-size: 1.2em;
    font-weight: 300;
    line-height: 2;
}

.article__description:last-of-type {
    margin: 0px 0px 0px 0px;
}

.article__buttons {
    margin: 22px -8px -8px -8px;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: end;
    align-items: flex-end;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.article__read-more {
    margin: 8px;
    font-size: 14px;
}

.footer {
    background-color: #2b2a2c;
}

.footer__container {
    padding-top: 2em;
    padding-bottom: 2em;
}

.footer__inner {
    margin: -1em;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    color: #8d8d8e;
}

@media (max-width: 1100px) {
    .footer__inner {
        -ms-flex-flow: column;
        flex-flow: column;
    }
}

.footer__left {
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
    margin: 1em;
    display: -ms-flexbox;
    display: flex;
}

@media (max-width: 1100px) {
    .footer__left {
        -ms-flex-order: 1;
        order: 1;
    }
}

@media (max-width: 600px) {
    .footer__left {
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-flow: column;
        flex-flow: column;
    }
}

.footer__right {
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
    margin: 1em;
}

.footer__small {
    margin: 0px 1em 0px 0px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1.4em;
    line-height: 1.4;
    color: #8d8d8e;
}

.footer__small::after {
    content: "";
    margin: 0px 0px 0px 1.07em;
    width: 1px;
    height: 100%;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    display: block;
    background-color: currentColor;
}

@media (max-width: 600px) {
    .footer__small {
        margin: 0px 0px 1em 0px;
    }
}

.footer__social {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.footer-nav {
    margin: -1em;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

@media (max-width: 1100px) {
    .footer-nav {
        -ms-flex-pack: center;
        justify-content: center;
    }
}

@media (max-width: 600px) {
    .footer-nav {
        -ms-flex-flow: column;
        flex-flow: column;
    }
}

.footer-nav__item {
    margin: 1em;
}

.footer-nav__link {
    font-size: 1.4em;
    transition: color 0.3s;
}

.footer-nav__link.hover, .footer-nav__link:active {
    color: #dadada;
}

.modal {
    display: none;
    background: rgba(43, 42, 44, 0.8);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    overflow: auto;
}

.modal.show {
    display: block;
}

@supports (padding: 0px) {
    .modal__container {
        padding-top: max(20px, env(safe-area-inset-top));
        padding-bottom: max(20px, env(safe-area-inset-bottom));
    }
}

.modal__window {
    font-size: 10px;
}

.window__close {
    top: 2em;
    right: 2em;
}

.window__inner {
    display: inline;
    margin: 0 auto;
}

.close {
    padding: 0px 0px 0px 0px;
    background: transparent;
    border: none;
    color: #717072;
    position: absolute;
    z-index: 20;
    transition: color 0.3s;
}

.close:hover {
    color: #2b2a2c;
}

.close__icon {
    width: 2.8em;
    height: 2.8em;
}

.modal-resume {
    padding: 8em 2em 6.5em 2em;
    background-color: #ffffff;
    color: #2b2a2c;
    font-size: 10px;
}

.modal-resume__title {
    margin: 0px 0px 1.2em 0px;
    font-size: 4.5em;
    font-weight: 700;
    line-height: 1.18;
    text-align: center;
    text-transform: uppercase;
}

.modal-resume__buttons {
    margin: -10px -10px 4.8em -10px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.modal-resume__buttons_bottom {
    margin: -10px;
}

.modal-resume__btn {
    margin: 10px;
    color: #6a696b;
    font-size: 12px;
}

.modal-resume__resume {
    margin: 0px 0px 7.5em 0px;
    font-size: 10px;
}

.modal-resume__hire-me {
    margin: 10px;
    font-size: 16px;
}

.resume {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 9.5em;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
}

@media (max-width: 750px) {
    .resume {
        grid-column-gap: 4em;
    }
}

@media (max-width: 600px) {
    .resume {
        grid-template-columns: auto;
    }
}

.resume::after {
    content: "";
    width: 1px;
    height: 100%;
    background-color: #2b2a2c;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

@media (max-width: 600px) {
    .resume::after {
        display: none;
    }
}

.resume__left {
    justify-self: right;
    max-width: 42em;
    text-align: right;
}

@media (max-width: 600px) {
    .resume__left {
        justify-self: left;
        max-width: 42em;
        text-align: left;
    }
}

.resume__right {
    justify-self: left;
    max-width: 42em;
    text-align: left;
}

@media (max-width: 600px) {
    .resume__right {
        margin: 3.2em 0px 0px 0px;
    }
}

.resume__theme {
    font-size: 10px;
}

@media (max-width: 650px) {
    .resume__theme {
        font-size: 9px;
    }
}

@media (max-width: 600px) {
    .resume__theme {
        font-size: 10px;
    }
}

@media (max-width: 400px) {
    .resume__theme {
        font-size: 9px;
    }
}

.theme {
    margin: 3.2em 0px 0px 0px;
    color: #2b2a2c;
}

.theme:first-child {
    margin: 0px 0px 0px 0px;
}

.theme__title {
    font-size: 1.8em;
    font-weight: 700;
    text-transform: uppercase;
}

.theme__data {
    margin: 2.5em 0px 0px 0px;
    font-size: 1.4em;
    line-height: 1.4;
    text-decoration: underline;
}

.theme__data--mt0 {
    margin-top: 0;
}

.theme__data-accent {
    font-weight: 700;
}

.theme__secondary-title {
    margin: 2.25em 0px 0px 0px;
    font-size: 1.6em;
    line-height: 1.3;
    font-weight: 700;
}

.theme__secondary-title--mt0 {
    margin-top: 0;
}

.theme__secondary-title--upper {
    text-transform: uppercase;
}

.theme__sub-title {
    margin: 0.57em 0px 0px 0px;
    font-size: 1.4em;
    line-height: 1.3;
    font-style: italic;
}

.theme__sub-title--non-italic {
    font-style: normal;
}

.theme__text {
    margin: 1em 0px 0px 0px;
    color: #717072;
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.5;
}

.theme__list {
    margin: 2.5em 0px 0px 0px;
}

.theme__list-item {
    margin: 0px 0px 1em 0px;
}

.theme__list-item:last-child {
    margin: 0px 0px 0px 0px;
}

.theme__table {
    margin: 3em 0px 0px 0px;
}

.theme__table-row {
    margin: 0px 0px 3em 0px;
    display: grid;
    grid-template-columns: 70px auto;
    grid-column-gap: 1em;
}

.theme__table-row:last-child {
    margin: 0px 0px 0px 0px;
}

.progress {
    display: grid;
    grid-template-columns: 6.79em auto;
    grid-column-gap: 1.43em;
    font-size: 1.4em;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 300;
}

.progress__bar {
    width: 10em;
    height: 0.43em;
    display: block;
    background-color: #efefef;
    position: relative;
}

.progress__bar::after {
    content: "";
    height: 100%;
    display: block;
    background-color: #717072;
    position: absolute;
    top: 0;
    left: 0;
}

.progress__bar--95::after {
    content: "";
    width: 95%;
}

.progress__bar--75::after {
    content: "";
    width: 75%;
}

.progress__bar--85::after {
    content: "";
    width: 85%;
}

.progress__bar--90::after {
    content: "";
    width: 90%;
}

.modal-contact {
    max-width: 100%;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -ms-flexbox;
    display: flex;
    background-color: #ffffff;
    color: #2b2a2c;
}

@media (max-width: 750px) {
    .modal-contact {
        font-size: 8.5px;
    }
}

@media (max-width: 650px) {
    .modal-contact {
        display: block;
        max-width: 60em;
    }
}

@media (max-width: 400px) {
    .modal-contact {
        font-size: 8px;
    }
}

.modal-contact__left {
    padding: 3em 3em 3em 3em;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
}

@media (max-width: 450px) {
    .modal-contact__left {
        padding: 8em 3em 3em 3em;
    }
}

.modal-contact__right {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    position: relative;
}

@media (max-width: 650px) {
    .modal-contact__right {
        margin: 0px 0px 3em 0px;
        width: 100%;
        height: 300px;
        -ms-flex-preferred-size: none;
        flex-basis: none;
    }
}

.modal-contact__title {
    margin: 0px 0px 0.2em 0px;
    font-size: 4.5em;
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
}

.modal-contact__sub-title {
    margin: 0px 0px 1.8em 0px;
    font-size: 1.6em;
    line-height: 2;
    text-transform: uppercase;
}

.modal-contact__img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
}

.modal-contact__img img,
    .modal-contact__img source {
    -o-object-fit: cover;
    object-fit: cover;
    height: 100%;
}

.contacts {
    margin: 0px 0px 4.5em 0px;
}

.contacts__item {
    margin: 0px 0px 1em 0px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
}

.contacts__item:last-child {
    margin: 0px 0px 0px 0px;
}

.contacts__link {
    margin: -0.15em 0;
    font-size: 2em;
    font-weight: 300;
    line-height: 1.3;
}

.contacts__link.hover, .contacts__link:active {
    text-decoration: underline;
}

.contacts__icon {
    margin: 0px 1em 0px 0px;
    width: 2em;
    height: 2em;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.contact-form__label {
    margin: 0px 0px 2em 0px;
    font-size: 1.2em;
    font-weight: 700;
    line-height: 2;
}

.contact-form__input {
    margin: 0.7rem 0px 0px 0px;
    padding: 1.67em 2em 1.67em 2em;
    width: 100%;
    height: 4.58em;
    border: 1px solid rgba(43, 42, 44, 0.3);
    border-radius: 3rem;
    font-size: 1em;
    font-family: inherit;
    line-height: 2;
    transition: all 0.3s;
}

.contact-form__input::-webkit-input-placeholder {
    font-size: inherit;
    font-weight: 300;
}

.contact-form__input::-moz-placeholder {
    font-size: inherit;
    font-weight: 300;
}

.contact-form__input:-ms-input-placeholder {
    font-size: inherit;
    font-weight: 300;
}

.contact-form__input::-ms-input-placeholder {
    font-size: inherit;
    font-weight: 300;
}

.contact-form__input::placeholder {
    font-size: inherit;
    font-weight: 300;
}

.contact-form__input:focus {
    box-shadow: inset 0px 0px 6px 0px #000000c4;
}

.contact-form__input--textarea {
    height: 16.67em;
    resize: none;
}

.contact-form__buttons {
    margin: -10px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.contact-form__submit {
    margin: 10px;
    font-size: 16px;
}

.modal-project {
    color: #2b2a2c;
}

.modal-project__content {
    padding: 6em 5em 5em 5em;
    background-color: #ffffff;
    position: relative;
}

@media (max-width: 600px) {
    .modal-project__content {
        padding: 6em 2em 0em 2em;
    }
}

.modal-project__title {
    margin: 0px 0px 0.5em 0px;
    font-size: 3.2em;
    font-weight: 700;
    line-height: 1.5;
    text-transform: uppercase;
}

@media (max-width: 600px) {
    .modal-project__title {
        font-size: 2.5em;
    }
}

.modal-project__info {
    margin: 0.28em 0px 0px 0px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    color: #6a696b;
    font-size: 1.8em;
    line-height: 1;
    text-transform: uppercase;
}

.modal-project__info-item {
    position: relative;
}

.modal-project__info-item:first-child {
    margin: 0px -1px 0px 0px;
    padding: 0px 0.83em 0px 0px;
}

.modal-project__info-item:first-child::after {
    content: "";
    display: block;
    height: 100%;
    width: 1px;
    background-color: currentColor;
    position: absolute;
    right: 0;
    top: 0;
}

.modal-project__info-item:last-child {
    padding: 0px 0px 0px 0.83em;
}

.modal-project__info-item:last-child::before {
    content: "";
    display: block;
    height: 100%;
    width: 1px;
    background-color: currentColor;
    position: absolute;
    left: 0;
    top: 0;
}

.modal-project__client {
    margin: 2em 0px 0px 0px;
    font-size: 1.6em;
    font-weight: 700;
    line-height: 1.5;
}

.modal-project__client-name {
    display: block;
    color: #6a696b;
    font-size: 0.875em;
    font-weight: 400;
    font-style: italic;
}

.modal-project__slider-wrap {
    margin: 3em 0em 0px 0em;
    padding: 0px 0px 6em 0px;
    position: relative;
}

@media (max-width: 750px) {
    .modal-project__slider-wrap {
        padding: 0px 0px 10em 0px;
    }
}

@media (max-width: 600px) {
    .modal-project__slider-wrap {
        margin: 3em -2em 0em -2em;
    }
}

.modal-project__text {
    margin: 2.5em 0px 0px 0px;
    color: #6a696b;
    font-size: 12px;
    font-weight: 300;
    line-height: 2;
}

.modal-project__buttons {
    padding: 0px 2em 0px 2em;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: absolute;
    left: 0;
    bottom: 3em;
    right: 0;
    left: 0;
    -webkit-transform: translate(0%, 50%);
    transform: translate(0%, 50%);
}

.modal-project__btn {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    background: transparent;
    border: none;
    color: #717072;
    font-size: 1.4em;
    text-transform: uppercase;
    transition: all 0.3s;
}

.modal-project__btn.hover, .modal-project__btn:active {
    color: black;
}

.modal-project__btn-arrow {
    width: 1em;
    height: 1em;
    color: inherit;
}

.modal-project__btn-arrow--left {
    margin-right: 1rem;
}

.modal-project__btn-arrow--right {
    margin-left: 1rem;
}

.lazyload,
.lazyloading {
    opacity: 0;
    transition: opacity 400ms;
}

img.lazyloaded {
    opacity: 1;
}

.scrollBtn {
    padding: 10px;
    width: 40px;
    height: 40px;
    display: none;
    background-color: rgba(255, 0, 54, 0.5);
    border: none;
    border-radius: 5px;
    color: white;
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 100;
    transition: background-color 0.3s;
}

.scrollBtn.hover, .scrollBtn:active {
    background-color: #ff0036;
}
